h1 {
    color: whitesmoke;
    padding: 12px;
}

#back{
    background-color: rgb(141, 141, 141);
    margin: 15px;
    border: 2px solid black;
}

#navig {
    background-color: rgb(244, 186, 40);
    padding: 5px 15px;
    text-align: center;
    border: 1px solid black;
}

#navig li{
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 5px 25px;
    font-family:'Courier New';
    font-size: 22px;
    display: inline-block;
    
}

p{
    margin-top: 8px;
}

.Conceptos{
    font-size: 20px;
    padding: 14px;
    text-align: justify;
    margin: 10px;
}

